*{
  background-color: black;
  color: white;
}

h1{
  color: white;
  text-align: center;
  margin-top: 250px;
  font-size: 60px;
  text-decoration: underline;
  White-space: nowrap;
}

.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.links{
  display: flex;
  gap: 20px;
  margin-right: 20px;
}