*{
  margin: 0;
  padding: 0%;

}
html,body{
  height:100%;
  width:100%;

}
.card{
  width:200px;
  border: 2px solid red;
  padding : 20px;
  text-align :center;
  margin: 10px 20px;
}
.parent{
  padding: 20px;
  display: flex;
  align-items: center;
}
.card button{
  padding:10px 20px;
  background-color: grey;
  border :none;
  border-radius: 5px;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
}